html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.card {
  width: 25rem;
  padding: 1.5rem;
  border: solid #5bc0de 1px;
}

.card:hover {
  border: dashed #5bc0de 1px;
}
  
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.hospitales-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.tabla-pacientes {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
}

.tabla-pacientes th,
.tabla-pacientes td {
  text-align: center;
  padding: 10px;
  font-weight: lighter;
}

.tabla-pacientes thead {
  background-color: #5bc0de;
  color: white;
  font-weight: lighter;
}

.nombre-tabla {
  background-color: #5bc0de;
  text-align: center;
}

.table-info {
  color: #fff;
  background-color: #17a2b8;
}