html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex-grow: 1;
}

.card{
  width: 25rem;
  padding: 1.5rem;
  border: solid #5bc0de 1px;
}

.card:hover{
  border: dashed #5bc0de 1px;
}
  
.card-img-top{
  max-height: 200px;
  object-fit: cover;
}

.card-title{
  font-size: larger;
}

.hospitales-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

#consultas{
  padding-bottom: 30px;
}

#pacientes{
  padding-bottom: 30px;
}

#menu-botones{
  padding-bottom: 30px;
}

#seleccion-hospitales{
  padding-top: 30px;
}
